<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Product & Category Management</h1>
                <nav>
                    <a href="/categories">Categories</a>
                    <a href="/products">Products</a>
                </nav>
            </header>

            <hr />
        </div>
    </body>
</html>
